<div class="p-8">
    <p-toast></p-toast>
    <form [formGroup]="allowanceForm" (submit)="submit()">
        <div class="grid grid-cols-12 gap-2">

            <!-- <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-2">Validation Failed</p-message> -->
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>AllowanceId</label>
                <input pInputText formControlName="allowanceId" type="number">
            </div>
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>
                    CompanyId</label>
                    <div class="card flex justify-center">
                        <p-select
                          [options]="companies"
                          [(ngModel)]="selectedCompany"
                          optionLabel="companyName"
                          placeholder="Select a City"
                          class="w-full md:w-56"
                          [ngModelOptions]="{ standalone: true }"
                        />
                      </div>
                <small *ngIf="allowanceForm.controls['companyId'].invalid && allowanceForm.get('companyId')?.dirty"
                    class="p-text">
                    CompanyID is Require
                </small>
            </div>
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>BracnchId </label>
                <input pInputText formControlName="branchId" type="number">
            </div>
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>DeptId</label>
                <input pInputText formControlName="deptId" type="number">
            </div>
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>PositionId </label>
                <input pInputText formControlName="positionId" type="number">
            </div>
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>AllowanceName</label>
                <input pInputText formControlName="allowanceName" type="text">
                <small
                    *ngIf="allowanceForm.controls['allowanceName'].invalid && allowanceForm.get('allowanceName')?.dirty"
                    class="p-text">
                    Allowance Name Is Required
                </small>
            </div>
            <!-- <div class="col-span-12 flex flex-col gap-2">
                <label>Description</label>
                <input pInputText formControlName="description" type="text">
            </div> -->
            <div class="col-span-12 flex flex-col gap-2">
                <label>Description</label>
                <p-editor formControlName="description" [style]="{ height: '320px' }">
                </p-editor>
            </div>

            <div class="col-6 flex flex-column gap-2">
                <div class="flex align-items-center gap-1">
                    <p-toggleswitch formControlName="status"></p-toggleswitch>
                    <span class="text-md font-medium ml-2">Status</span>
                </div>
            </div>
            <!-- <div [innerHTML]="sanitizeHtml(allowanceForm.controls.description.value)"></div> -->
            <!-- <div class="col-span-12 flex flex-col gap-2">
                <label>Created On</label>
                <input pInputText formControlName="createdOn" type="text" />
            </div>
            <div class="col-span-12 flex flex-col gap-2">
                <label>Created By</label>
                <input pInputText formControlName="createdBy" type="text" />
            </div>
            <div class="col-span-12 flex flex-col gap-2">
                <label>Updated On</label>
                <input pInputText formControlName="updatedOn" type="text" />
            </div>
            <div class="col-span-12 flex flex-col gap-2">
                <label>Updated By</label>
                <input pInputText formControlName="updatedBy" type="text" />
            </div>
            <div class="col-span-12 flex flex-col gap-2">
                <label>Deleted On</label>
                <input pInputText formControlName="deletedOn" type="text" />
            </div>
            <div class="col-span-12 flex flex-col gap-2">
                <label>Deleted By</label>
                <input pInputText formControlName="deletedBy" type="text" />
            </div> -->
            <!-- <div class="col-span-12 flex flex-col gap-2">
                <label>Remark</label>
                <input pInputText formControlName="remark" type="text" />
            </div> -->
            <div class="col-span-12">
                <button pButton type="submit" icon="pi pi-check" [disabled]="isSubmitting" [loading]="isSubmitting"
                    type="submit" class="w-24">Submit</button>
            </div>
        </div>
    </form>
</div>