<div class="p-8">
    <p-toast></p-toast>
    <form [formGroup]="allowanceForm" (submit)="submit()">
        <div class="grid grid-cols-12 gap-2">

            <!-- <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-2">Validation Failed</p-message> -->
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>AllowanceId</label>
                <input pInputText formControlName="allowanceId" type="number">
            </div>
            <!-- This is company -->
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>
                    CompanyId</label>
                <div class="card flex w-full">
                    <p-select [options]="companies" [(ngModel)]="selectedCompany" optionLabel="companyName"
                        placeholder="Select a Company" (onChange)="onCompanyChange()"
                        class="ng-dirty ng-invalid w-full " [ngModelOptions]="{ standalone: true }" [ngClass]="{
                            'ng-dirty ng-invalid':
                              allowanceForm.controls['companyId'].invalid &&
                              allowanceForm.get('companyId')?.dirty
                          }" />
                </div>
                <small *ngIf="allowanceForm.controls['companyId'].invalid && allowanceForm.get('companyId')?.dirty"
                    class="p-text">
                    CompanyID is Required
                </small>
            </div>

            <!-- BracnchId -->
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>
                    BracnchId
                </label>
                <div class="card flex w-full">
                    <p-select [options]="branches" [(ngModel)]="selectedBranch" optionLabel="branchName"
                        placeholder="Select a Branch" (onChange)="OnBranchChange()" class="ng-dirty ng-invalid w-full "
                        [ngModelOptions]="{ standalone: true }" [ngClass]="{
                            'ng-dirty ng-invalid':
                              allowanceForm.controls['branchId'].invalid &&
                              allowanceForm.get('branchId')?.dirty
                          }" />
                </div>
                <small *ngIf="allowanceForm.controls['branchId'].invalid && allowanceForm.get('branchId')?.dirty"
                    class="p-text">
                    Branch is Required
                </small>
            </div>

            <!-- DeptId -->
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>
                    DeptId
                </label>
                <div class="card flex w-full">
                    <p-select [options]="deparments" [(ngModel)]="selectedDepartment" optionLabel="deptName"
                        placeholder="Select a Department" (onChange)="OnDeptChange()"
                        class="ng-dirty ng-invalid w-full " [ngModelOptions]="{ standalone: true }" [ngClass]="{
                            'ng-dirty ng-invalid':
                              allowanceForm.controls['deptId'].invalid &&
                              allowanceForm.get('deptId')?.dirty
                          }" />
                </div>
                <small *ngIf="allowanceForm.controls['deptId'].invalid && allowanceForm.get('deptId')?.dirty"
                    class="p-text">
                    Department is Required
                </small>
            </div>

            <!-- PositionId -->
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>
                    PositionId
                </label>
                <div class="card flex w-full">
                    <p-select [options]="positions" [(ngModel)]="selectedPosition" optionLabel="positionName"
                        placeholder="Select a Position" (onChange)="onPositionChange()"
                        class="ng-dirty ng-invalid w-full " [ngModelOptions]="{ standalone: true }" [ngClass]="{
                            'ng-dirty ng-invalid':
                              allowanceForm.controls['positionId'].invalid &&
                              allowanceForm.get('positionId')?.dirty
                          }" />
                </div>
                <small *ngIf="allowanceForm.controls['positionId'].invalid && allowanceForm.get('positionId')?.dirty"
                    class="p-text">
                    Position is Required
                </small>
            </div>

            <!-- AllowanceName -->
            <div class="xl:col-span-6 col-span-6 flex flex-col gap-2">
                <label>AllowanceName</label>
                <input pInputText formControlName="allowanceName" type="text">
                <small
                    *ngIf="allowanceForm.controls['allowanceName'].invalid && allowanceForm.get('allowanceName')?.dirty"
                    class="p-text">
                    Allowance Name Is Required
                </small>
            </div>

            <!-- Description -->
            <div class="col-span-12 flex flex-col gap-2">
                <label>Description</label>
                <p-editor formControlName="description" [style]="{ height: '320px' }">
                </p-editor>
            </div>

            <!-- Status -->
            <div class="col-6 flex flex-column gap-2">
                <div class="flex align-items-center gap-1">
                    <p-toggleswitch formControlName="status"></p-toggleswitch>
                    <span class="text-md font-medium ml-2">Status</span>
                </div>
            </div>
            <div class="col-span-12">
                <button pButton type="submit" icon="pi pi-check" [loading]="isSubmitting" type="submit"
                    class="w-24">Submit</button>
            </div>
        </div>
    </form>
</div>