<div class="card">
    <p-table #dt1 [value]="allowances" dataKey="allowanceId" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]" [globalFilterFields]="[
        'allowanceId',
      ]" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #caption>
            <div class="flex">
                <p-button label="Create" routerLink="entry"><i class="pi pi-plus"></i></p-button>
                <!-- <p-splitbutton label="Save" icon="pi pi-check" dropdownIcon="pi pi-cog" [model]="items" /> -->
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template #header>
            <tr style="white-space:nowrap">
                <th pSortableColumn="allowanceId">
                    AllowanceID <p-sortIcon field="allowanceId" />
                </th>
                <th pSortableColumn="companyId">
                    CompanyID<p-sortIcon field="companyId" />
                </th>
                <th pSortableColumn="companyName">
                    Company<p-sortIcon field="companyName" />
                </th>
                <th pSortableColumn="branchId">
                    BranchID 
                    <!-- <p-select
              formControlName="selectedName"
              [options]="companies"
              optionLabel="company"
              placeholder="Select a Name"
              class="w-full md:w-56"
            />-->
            <p-sortIcon field="branchId" /> 
                </th>
                <th pSortableColumn="deptId">
                    DeptID<p-sortIcon field="deptId" />
                </th>
                <th pSortableColumn="deptId">
                    PositionID<p-sortIcon field="deptId" />
                </th>
                <th pSortableColumn="companyId">
                    AllowanceName<p-sortIcon field="companyId" />
                </th>
                <th pSortableColumn="description">
                    Description<p-sortIcon field="description" />
                </th>
                <th pSortableColumn="status">
                    Status<p-sortIcon field="status" />
                </th>
                <th pSortableColumn="createdOn">
                    Created On<p-sortIcon field="createdOn" />
                </th>
                <th pSortableColumn="createdBy">
                    Created By<p-sortIcon field="createdBy" />
                </th>
                <th pSortableColumn="updatedOn">
                    Updated On<p-sortIcon field="updatedOn" />
                </th>
                <th pSortableColumn="updatedBy">
                    updated By<p-sortIcon field="updaetdBy" />
                </th>
                <th pSortableColumn="deletedOn">
                    Deleted On <p-sortIcon field="deletedOn" />
                </th>
                <th pSortableColumn="deletedBy">
                    Deleted By <p-sortIcon field="deletedBy" />
                </th>
                <th pSortableColumn="remark">
                    Remark<p-sortIcon field="remark" />
                </th>
                <th>Action</th>

            </tr>

            <tr>
                <th>
                    <p-columnFilter type="text" field="allowanceId" placeholder="Search by ID"
                        ariaLabel="Filter ID"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="companyId" placeholder="Search by Id"
                        ariaLabel="Filter Name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="companyName" placeholder="Search by Name"
                        ariaLabel="Filter Name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="branchId" placeholder="Search by Id"
                        ariaLabel="Filter Id"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="deptId" placeholder="Search by Id"
                        ariaLabel="Filter Id"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="positionId" placeholder="Search by Id"
                        ariaLabel="Filter Id"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="allowanceName" placeholder="Search by Name"
                        ariaLabel="Filter Id"></p-columnFilter>
                </th>
            </tr>
        </ng-template>

        <ng-template #body let-allowance>
            <tr style="white-space:nowrap">
                <td>{{ allowance.allowanceId }}</td>
                <td>{{ allowance.companyId }}</td>
                <td>{{ allowance.companyName }}</td>
                <td>{{ allowance.branchId }}</td>
                <td>{{ allowance.deptId }}</td>
                <td>{{ allowance.positionId }}</td>
                <td>{{ allowance.allowanceName }}</td>
                <td>
                    <div [innerHTML]="allowance.description"></div>
                </td>
                <td>
                    <p-tag value="{{ allowance.status? 'Active' : 'Inactive' }}" [severity]="allowance.status ? 'success' : 'info'
                    " icon="{{ allowance.status? 'pi pi-check' : 'pi pi-minus-circle' }}" [rounded]="true"></p-tag>
                </td>
                <td>{{ allowance.createdOn | date: 'dd/MMM/yyyy hh:mm:ss a'}}</td>
                <td>{{ allowance.createdBy }}</td>
                <td>{{ allowance.updatedOn | date: 'dd/MMM/yyyy hh:mm:ss a'}}</td>
                <td>{{ allowance.updatedBy }}</td>
                <td>{{ allowance.deletedOn | date: 'dd/MMM/yyyy hh:mm:ss a'}}</td>
                <td>{{ allowance.deletedBy }}</td>
                <td>{{ allowance.remark }}</td>
                <td class="flex flex-row gap-2">
                    <p-button (onClick)="update(allowance)"><i class="pi pi-user-edit"></i>Edit</p-button>
                    <p-button (onClick)="delete(allowance)"><i class="pi pi-times"></i>Delete</p-button>
                </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="3">No departments found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>