<div class="card">
    <p-table #dt1 [value]="allowances" dataKey="allowanceId" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]" [globalFilterFields]="[
        'allowanceName',
      ]" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #caption>
            <div class="flex">
                <p-button label="Create" routerLink="entry"><i class="pi pi-plus"></i></p-button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th pSortableColumn="allowanceId" style="min-width:200px">
                    AllowanceID <p-sortIcon field="allowanceId" />
                </th>
                <th pSortableColumn="companyId" style="min-width:200px">
                    CompanyID<p-sortIcon field="companyId" />
                </th>
                <th pSortableColumn="branchId" style="min-width:200px">
                    BranchID <p-sortIcon field="branchId" />
                </th>
                <th pSortableColumn="deptId" style="min-width:200px">
                    DeptID<p-sortIcon field="deptId" />
                </th>
                <th pSortableColumn="companyId" style="min-width:200px">
                    AllowanceName<p-sortIcon field="companyId" />
                </th>
                <th pSortableColumn="description" style="min-width:200px">
                    Description<p-sortIcon field="description" />
                </th>
                <th pSortableColumn="status" style="min-width:200px">
                    Status<p-sortIcon field="status" />
                </th>
                <th pSortableColumn="createdOn" style="min-width:200px">
                    Created On<p-sortIcon field="createdOn" />
                </th>
                <th pSortableColumn="createdBy" style="min-width:200px">
                    Created By<p-sortIcon field="createdBy" />
                </th>
                <th pSortableColumn="updatedOn" style="min-width:200px">
                    Updated On<p-sortIcon field="updatedOn" />
                </th>
                <th pSortableColumn="updatedBy" style="min-width:200px">
                    updated By<p-sortIcon field="updaetdBy" />
                </th>
                <th pSortableColumn="deletedOn" style="min-width:200px">
                    Deleted On <p-sortIcon field="deletedOn" />
                </th>
                <th pSortableColumn="deletedBy" style="min-width:200px">
                    Deleted By <p-sortIcon field="deletedBy" />
                </th>
                <th pSortableColumn="remark" style="min-width:200px">
                    Remark<p-sortIcon field="remark" />
                </th>
                <th>Action</th>

            </tr>

            <tr>
                <th>
                    <p-columnFilter type="text" field="allowanceId" placeholder="Search by ID"
                        ariaLabel="Filter ID"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="companyId" placeholder="Search by Id"
                        ariaLabel="Filter Name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="branchId" placeholder="Search by Id"
                        ariaLabel="Filter Id"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="deptId" placeholder="Search by Id"
                        ariaLabel="Filter Id"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="positionId" placeholder="Search by Id"
                        ariaLabel="Filter Id"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="allowanceName" placeholder="Search by Name"
                        ariaLabel="Filter Id"></p-columnFilter>
                </th>
            </tr>
        </ng-template>

        <ng-template #body let-allowance>
            <tr>
                <td>{{ allowance.allowanceId }}</td>
                <td>{{ allowance.companyId }}</td>
                <td>{{ allowance.branchId }}</td>
                <td>{{ allowance.deptId }}</td>
                <td>{{ allowance.positionId }}</td>
                <td>{{ allowance.allowanceName }}</td>
                <td>{{ allowance.description }}</td>
                <td>
                    <p-tag [value]="allowance.status" [severity]="getSeverity(allowance.status)" />
                </td>
                <td>{{ allowance.createdOn }}</td>
                <td>{{ allowance.createdBy }}</td>
                <td>{{ allowance.updatedOn }}</td>
                <td>{{ allowance.updatedBy }}</td>
                <td>{{ allowance.deletedOn }}</td>
                <td>{{ allowance.deletedBy }}</td>
                <td>{{ allowance.remark }}</td>
                <!-- <td class="flex flex-row gap-2">
            <p-button (onClick)="update(policy)"
              ><i class="pi pi-user-edit"></i>Edit</p-button
            >
            <p-button (onClick)="delete(policy)"
              ><i class="pi pi-times"></i>Delete</p-button
            >
          </td> -->
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="3">No departments found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>