<div class="card">
    <div class="card">

        <p-table #policy [value]="policies" dataKey="id" [paginator]="true" [rows]="10" [scrollable]="true"
            scrollHeight="400px" [rowsPerPageOptions]="[10, 20, 30]"
            [globalFilterFields]="['id','title', 'description','policyType','companyId']"
            [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #caption>
                <div class="flex">

                    <p-button label="Create" routerLink="entity"></p-button>

                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <span class="material-symbols-outlined"> search </span>
                        </p-inputicon>
                        <input pInputText type="text"
                            (input)="policy.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Search keyword" />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th pSortableColumn="id" style="min-width:200px">
                        ID <p-sortIcon field="id" />
                    </th>
                    <th pSortableColumn="title" style="min-width:200px">
                        Title <p-sortIcon field="title" />
                    </th>
                    <th pSortableColumn="description" style="min-width:200px">
                        Description <p-sortIcon field="description" />
                    </th>
                    <th pSortableColumn="policyType" style="min-width:200px">
                        Policy Type<p-sortIcon field="policyType" />
                    </th>
                    <th pSortableColumn="companyId" style="min-width:200px">
                        CompanyID<p-sortIcon field="companyId" />
                    </th>
                    <th pSortableColumn="createdOn" style="min-width:200px">
                        Created On<p-sortIcon field="createdOn" />
                    </th>
                    <th pSortableColumn="createdBy" style="min-width:200px">
                        Created By<p-sortIcon field="createdBy" />
                    </th>
                    <th pSortableColumn="updatedOn" style="min-width:200px">
                        Updated On<p-sortIcon field="updatedOn" />
                    </th>
                    <th pSortableColumn="updatedBy" style="min-width:200px">
                        updated By<p-sortIcon field="updaetdBy" />
                    </th>
                    <th pSortableColumn="deletedOn" style="min-width:200px">
                        Deleted On <p-sortIcon field="deletedOn" />
                    </th>
                    <th pSortableColumn="deletedBy" style="min-width:200px">
                        Deleted By <p-sortIcon field="deletedBy" />
                    </th>
                    <th pSortableColumn="remark" style="min-width:200px">
                        Remark<p-sortIcon field="remark" />
                    </th>
                    <th>Action</th>

                </tr>

            </ng-template>
            <ng-template #body let-policies>
                <tr>
                    <td>{{ policies.id }}</td>
                    <td>{{ policies.title }}</td>
                    <td>{{policies.description }}</td>
                    <td>{{policies.policyType}}</td>
                    <td>{{policies.companyId}}</td>
                    <td>{{policies.createdOn}}</td>
                    <td>{{policies.createdBy}}</td>
                    <td>{{policies.updatedOn}}</td>
                    <td>{{policies.updatedBy}}</td>
                    <td>{{policies.deletedOn}}</td>
                    <td>{{policies.deletedBy}}</td>
                    <td>{{policies.remark}}</td>
                    <td>
                        <p-button (onClick)="update(policies)"><i class="pi-wrench"></i>Edit</p-button>
                        <p-button (onClick)="delete(policies)"><i class="pi pi-times"></i>Delete</p-button>

                    </td>

                </tr>
            </ng-template>
            <!-- <ng-template #footer>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>PolicyType</td>
                    <td>Balance</td>
                    <td>Company</td>
                    <td>Status</td>
                    <td>Activity</td>
                    <td>Representative</td>
                </tr>
            </ng-template> -->
        </p-table>
        <!-- <form [formGroup]="formGroup">
            <p-rating formControlName="value" />
        </form>
    </div> -->